.vscode/

coords/addNoise2coord
coords/spbr
coords/Makefile
coords/Makefile.kvs
coords/*.o
coords/*.spbr
coords/*.txt
coords/DOC/
coords/IMAGE_DATA/
coords/SPBR_DATA/

color/addNoise2color
color/spbr
color/Makefile
color/Makefile.kvs
color/*.o
color/*.spbr
color/*.txt
color/DOC/
color/IMAGE_DATA/
color/SPBR_DATA/